* {
  margin: 0;
}

img[src$="svg"] {
  width: 2rem;
  height: 2rem;
}
body,
html {
  min-height: 100%;
}
:root {
  --header: rgb(241, 247, 181);
  --sidebar: rgb(158, 161, 212);
  --nav: rgb(168, 209, 209);
  --article: rgb(168, 209, 209);
}
.container {
  height: 100vmin;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: repeat(6, 1fr);
}
.main {
  display: grid;
  grid-row: 2/7;
}
main .card {
  background-color: azure;
  border-radius: 1rem;
  padding: 2rem;
}
.header {
  background-color: var(--header);
  grid-column: 2/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.header,
.sec-header {
  padding: 1rem;
}
.header .search {
  display: flex;
  gap: 1rem;
}
.search input {
  display: flex;
  flex: 1;
  border-radius: 1rem;
  border: none;
}

.search input:focus {
  outline: none;
}
.sec-header img {
  width: 3rem;
  height: 3rem;
  /* padding-right: 1rem; */
}
.header .login {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.sec-header {
  background-color: var(--header);
  grid-column: 2/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.sec-header .one {
  display: flex;
  gap: 1rem;
}
.sec-header .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
main {
  background-color: var(--article);
  grid-column: 2/3;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-row: 3/6;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
main .card {
  height: 14rem;
}
.card .svg {
  display: flex;
  justify-content: end;
}
.sidebar {
  background-color: var(--sidebar);
  grid-row: 1/6;
  padding: 1rem;
}

.sidebar ul {
  list-style-type: none;
}

.announce {
  background-color: var(--article);
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-column: 3/4;
  grid-row: 3/5;
}

div.announcement {
  background-color: azure;
  padding: 1rem;
  border-radius: 1rem;
}

.trend {
  background-color: var(--article);

  grid-column: 3/4;
  grid-row: 5/6;
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.trend .card {
  background-color: azure;
  border-radius: 1rem;
  padding: 1rem;
}

.trend .card div {
  display: flex;
  gap: 1rem;
}
